<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
    	.container {
		    text-align: center;
		    top: 20%;
    		left: 33%;
    		position: fixed;
    	}
    </style>
  </head>
  <body>
  	<div class="container">
      <div><img src="<%= logo %>"></div>
    <h1>Welcome to <%= title %></h1>
	</div>
  </body>
</html>
