<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Email Template</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

</head>

<body bgcolor="#f0f0f0">    
<div style="max-width: 650px; margin: 0 auto;background: url({{image_url}}email_bg.jpg) 0 0 no-repeat;background-size: 100% 100%;">    
    <div style="overflow: hidden; padding: 15px 10px 12px 30px;text-align: center;">
        <img src="{{image_url}}logo.png" alt="" />       
       <!-- <h4 style="text-align: center; padding-top: 0px;font-size: 22px;font-weight: normal;color: #333;font-family: 'Open Sans', sans-serif;margin: 0;">Speed Angle</h4> -->
    </div>    
    <!-- <div style="height: 20px; clear:both;"></div> -->
    
  <div style="overflow: hidden; padding: 25px 10px 40px 40px;">
    <h3 style="font-size:15px;color: #1e1703;font-family: 'Open Sans', sans-serif;margin: 0;font-weight: normal;">Hi {{name}}, <br/>Welcome to Money Hitz. Verify Your Email </h3>
    <p style="font-size: 15px;color: #1e1703;">&nbsp;</p> 
    <div><a href="{{url}}" style="display: inline-block;padding: 8px 20px 8px 20px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-size: 15px;text-transform: uppercase;cursor: pointer;background-color:#0942ac;text-decoration: none;border-radius: 5px;width: 185px;text-align: center;">Verify Your Account </a></div>
    <p>&nbsp;</p> 
   
    <p style="font-family: 'Open Sans', sans-serif;margin: 0;font-weight: bold;font-size: 16px;color: #1e1703;">Thanks and Regards</p>
    <p style="font-family: 'Open Sans', sans-serif;margin: 0;font-size: 15px;color: #1e1703;">Speed Angel Team</p>
  </div>  
</div>
</body>
</html>