<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Email Template</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<style type="text/css"> 
p { font-family: 'PT Sans Narrow',sans-serif;  font-size: 17px; color: #4F4F4F; margin: 0; line-height: 21px; }
a { color: #0099FF; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-family: 'PT Sans Narrow',sans-serif;  color: #121212; font-size: 40px; font-weight: 700; margin: 0; }
h2 { font-family: 'PT Sans Narrow',sans-serif;  color: #121212; font-size: 30px; font-weight: 400; margin: 0; }
h3 { font-family: 'PT Sans Narrow',sans-serif;  color: #000; font-size: 29px; font-weight: 400; margin: 0; }
h4 { font-family: 'PT Sans Narrow',sans-serif;  color: #000; font-size: 36px;  font-weight: 400; margin: 0; }
h5 { font-family: 'PT Sans Narrow',sans-serif;  color: #121212; font-size: 20px; font-weight: 400; margin: 0; }
h6 { font-family: Arial, Helvetica, sans-serif; color: #616161; font-size: 35px; font-weight: 400; margin: 0; }
.button{
	display: inline-block; 
	padding: 13px 41px 12px 40px;
	color: #ffffff;
	font-family:sans-serif;
	font-size: 16px;
	cursor: pointer;
	border: #000 2px solid;
	background-color:#000;
}
.button:hover{
	background-color: #ffffff;
	text-decoration:none;
	border: #000 2px solid;
	color:#000; 
}
</style>
</head>
<body bgcolor="#f0f0f0">
<div style="width: 650px; margin: 0 auto;">
	<div style="background: url({{base_url}}images/email_bg.jpg); overflow: hidden; padding: 15px 10px 12px 30px;">
        <img src="{{base_url}}images/logo.png" style="float: left;">
       
       <h4 style="text-align: center; padding-top: 75px;">Password Recovery</h4>
    </div>
    
    <!-- <div style="height: 20px; clear:both;"></div> -->
    
  <div style="background-color:#e3eaf0; overflow: hidden; padding: 15px 10px 40px 40px;">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>Hi {{name}}, <br/>You new password is : {{new_pass}}</h3>
    <p>&nbsp;</p> 
  </div>
</div>
</body>
</html>